<div class="container">
  <div *ngIf="this.goat">
    <table class="goat-table">
      <!-- <tr>
        <td><strong>animal_id:</strong></td>
        <td>{{this.goat.animal_id}}</td>
      </tr> -->
      <tr>
        <td><strong>tag:</strong></td>
        <td>{{this.goat.tag}}</td>
      </tr>
      <tr>
        <td><strong>rfid:</strong></td>
        <td>{{this.goat.rfid}}</td>
      </tr>
      <tr>
        <td><strong>sex:</strong></td>
        <td>{{this.goat.sex}}</td>
      </tr>
      <tr>
        <td><strong>dob:</strong></td>
        <td>{{getFormattedDate(this.goat.dob)}}</td>
      </tr>
      <tr>
        <td><strong>sire:</strong></td>
        <td>{{this.goat.sire}}</td>
      </tr>
      <tr>
        <td><strong>dam:</strong></td>
        <td>{{this.goat.dam}}</td>
      </tr>
      <tr>
        <td><strong>breed:</strong></td>
        <td>{{this.goat.breed}}</td>
      </tr>
      <tr>
        <td><strong>colour:</strong></td>
        <td>{{this.goat.colour}}</td>
      </tr>
      <tr>
        <td><strong>weaned:</strong></td>
        <td>{{this.goat.weaned}}</td>
      </tr>
      <tr>
        <td><strong>prev_tag:</strong></td>
        <td>{{this.goat.prev_tag}}</td>
      </tr>
      <tr>
        <td><strong>note:</strong></td>
        <td>{{this.goat.note}}</td>
      </tr>
      <tr>
        <td><strong>note_date:</strong></td>
        <td>{{getFormattedDate(this.goat.note_date)}}</td>
      </tr>
      <tr>
        <td><strong>status:</strong></td>
        <td>{{this.goat.status}}</td>
      </tr>
      <tr>
        <td><strong>status_date:</strong></td>
        <td>{{getFormattedDate(this.goat.status_date)}}</td>
      </tr>
      <tr>
        <td><strong>last_weight:</strong></td>
        <td>{{this.goat.last_weight}}</td>
      </tr>
      <tr>
        <td><strong>last_weight_date:</strong></td>
        <td>{{getFormattedDate(this.goat.last_weight_date)}}</td>
      </tr>
      <tr>
        <td><strong>animal_group:</strong></td>
        <td>{{this.goat.animal_group}}</td>
      </tr>
      <tr>
        <td><strong>current_farm:</strong></td>
        <td>{{this.goat.current_farm}}</td>
      </tr>
      <tr>
        <td><strong>current_property:</strong></td>
        <td>{{this.goat.current_property}}</td>
      </tr>
      <tr>
        <td><strong>current_area:</strong></td>
        <td>{{this.goat.current_area}}</td>
      </tr>
      <tr>
        <td><strong>breed_date:</strong></td>
        <td>{{getFormattedDate(this.goat.breed_date)}}</td>
      </tr>
    </table>
  </div>
</div>