<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand">Group08</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/moms']" routerLinkActive="active">Moms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/graphs']" routerLinkActive="active">Graphs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dams']" routerLinkActive="active">Dams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/twins']" routerLinkActive="active">Twins</a>
        </li>
      </ul>
    </div>
  </div>
</nav>